/*
 * Title:   The Brick Architechture & Construction - HTML Template
 * Author:  QTC Media
 */
@media (max-width: 1600px) {
    .coming-soon .box .count-down {
        margin-bottom: 30px; }

    .coming-soon .box h5 {
        padding-bottom: 50px; }

    .coming-soon .box > p {
        padding-bottom: 40px; }

    .coming-soon {
        padding: 0 15px;
        align-items: center; } }
@media (max-width: 1360px) {
    .coming-soon {
        height: auto;
        padding: 75px 15px; } }
@media (max-width: 1219px) {
    .maintenance {
        padding: 0 100px 50px 100px; }

    .portfolio-detail .portfolio-detail-content .box-detail-content {
        padding: 30px 20px; }

    .brick-sidebar .sidebar-services .brick-flex-box {
        float: none !important;
        margin-left: auto;
        margin-right: auto; }

    .brick-sidebar .sidebar-recent-project ul {
        padding: 20px; }

    .brick-sidebar .sidebar-recent-project h3 {
        padding: 0 20px; }

    .brick-sidebar .sidebar-about-brick {
        padding: 20px; }

    .clients-say-v2 .clients-say-slick-v2 li .box .box-content p {
        padding: 0; }

    .our-skills .box {
        padding-right: 25px; }

    .we-change-the-world .brick-flex-box .box .box-button {
        margin-top: 0; }
    .we-change-the-world .brick-flex-box .box .box-button a {
        float: none;
        margin-right: 0; }
    .we-change-the-world .brick-flex-box .box .box-button a:first-child {
        margin-bottom: 15px; }

    .we-change-the-world .brick-flex-box {
        padding: 0 15px; }

    .recent-projects.set-padding {
        padding-top: 105px; }

    .see-our-work .box .box-title h3 {
        padding-bottom: 11px; }

    .see-our-work .videos {
        margin-bottom: 0; }

    .see-our-work.set-padding {
        padding-bottom: 105px; }

    .slider-home-three .banner-caption-form .box {
        padding: 25px 50px; }

    .footer-v2 .footer .box .box-content .box-content-p p {
        padding: 0 100px 25px 100px; }

    .we-make-beauty .box .brick-button {
        margin-right: 0; }

    .testimonial ul li .box h3 {
        padding: 0 0 19px 0; }

    .we-are-brick .box .box-content {
        padding-right: 0; }

    .header-v2 .header .search a.cart-icon, .header-v3 .header .search a.cart-icon, .header-v5 .header .search a.cart-icon {
        padding-right: 15px; }
    .header-v2 .header .search a.search-icon, .header-v3 .header .search a.search-icon, .header-v5 .header .search a.search-icon {
        padding-left: 15px; } }
@media (max-width: 1140px) {
    .how-we-work .box-step:before, .how-we-work .box-step:after {
        display: none; }

    .how-we-work .box-step {
        padding: 58px 15px; } }
@media (max-width: 991px) {
    .coming-soon {
        padding: 50px 15px; }

    .coming-soon .box h5 {
        padding: 0 0 30px 0; }

    .maintenance .box ul.social li {
        padding: 0 5px; }
    .maintenance .box ul.social li a {
        padding: 0 5px; }

    .maintenance {
        align-items: center; }
    .maintenance .box {
        width: 100%;
        text-align: center; }
    .maintenance .box a img {
        margin: 0 auto 40px auto; }
    .maintenance .box ul.social {
        margin-bottom: 55px; }

    .our-team.set-padding {
        padding-bottom: 15px; }

    .product-detail .box-detail .box-detail-content .box-qty {
        margin-bottom: 30px; }

    .contact .box-get-in-touch {
        padding: 30px; }

    .contact .main-office p {
        padding-right: 0; }

    .portfolio-detail-content .set-width-10-10 {
        width: 100%;
        left: auto;
        right: auto; }

    .portfolio-v1.set-padding, .portfolio-v2.set-padding {
        padding-bottom: 50px; }

    .brick-banner .title ul li {
        padding: 0 13px; }
    .brick-banner .title ul li:before {
        right: -3px; }

    .brick-banner .title {
        text-align: center; }

    .brick-banner {
        padding: 50px 0; }

    .who-we-are .box {
        padding-left: 0; }

    .our-project-v2 .box .brick-flex-box .box-content h3 {
        font-size: 25px; }

    .we-change-the-world .brick-flex-box .box .box-button {
        margin-top: 30px; }

    .we-change-the-world .brick-flex-box {
        padding-top: 50px;
        padding-bottom: 50px; }

    .we-change-the-world .set-width-10-10 {
        width: 100%;
        left: auto;
        right: auto; }

    .header-v4 .header .search {
        display: block; }

    .recent-projects.set-padding {
        padding-top: 50px; }

    .see-our-work.set-padding {
        padding-bottom: 50px; }

    .slider-home-three .banner-caption-form .box {
        padding: 25px !important; }

    .the-brick .the-brick-content {
        margin: 0 15px; }
    .the-brick .the-brick-content .brick-flex-box {
        align-items: center;
        justify-content: center; }
    .the-brick .the-brick-content .brick-flex-box .box-content {
        text-align: center;
        padding: 0; }
    .the-brick .the-brick-content .brick-flex-box .box-content h1 {
        font-size: 70px;
        line-height: 70px; }
    .the-brick .the-brick-content .brick-flex-box .box-content h3, .the-brick .the-brick-content .brick-flex-box .box-content h5 {
        font-size: 25px;
        line-height: 30px; }

    .header-v2 .header .search .toggle-icon a, .header-v3 .header .search .toggle-icon a, .header-v5 .header .search .toggle-icon a {
        padding-left: 15px;
        border-left: 1px solid #c5cccc; }

    .header-v2 .header .search a.search-icon, .header-v3 .header .search a.search-icon, header-v5 .header .search a.search-icon {
        padding-right: 15px; }

    .header-v2 .header .logo, .header-v3 .header .logo, .header-v5 .header .logo {
        height: 60px; }
    .header-v2 .header .search, .header-v3 .header .search, .header-v5 .header .search {
        height: 60px;
        line-height: 60px; }
    .header-v2 .header .brick-button, .header-v3 .header .brick-button, .header-v5 .header .brick-button {
        height: 60px;
        line-height: 60px; }
    .header-v2 .header .menu-primary ul.main-menu li a, .header-v3 .header .menu-primary ul.main-menu li a, .header-v5 .header .menu-primary ul.main-menu li a {
        line-height: 60px;
        height: 60px; }

    .build-the-dreams .set-width-10-10 {
        width: 100%; }

    .set-padding {
        padding: 50px 0; }

    .slider-home-one .banner-caption-p {
        text-align: center; }

    .header-v1 .header .search a, .header-v4 .header .search a {
        padding: 0 15px;
        display: inline;
        border-right: 1px solid #c5cccc; }
    .header-v1 .header .search a.cart, .header-v4 .header .search a.cart {
        display: inline; }

    .toggle-icon {
        display: inline-block; }

    .menu-primary {
        display: none !important; }

    .hidden-mobile {
        display: none; } }
@media (max-width: 767px) {
    .we-are-brick .videos .box-img {
        margin-top: 50px; }

    .coming-soon .box .count-down li {
        display: block;
        padding: 10px 0; }
    .coming-soon .box .count-down li span.dot {
        display: none; }

    .maintenance {
        padding: 50px 15px;
        height: auto; }

    .product-detail .box-review .uk-switcher {
        padding: 25px 10px; }

    .product-detail .box-detail .box-detail-content {
        width: 100%;
        padding-left: 0; }

    .product-detail .box-detail .box-product-detail {
        width: 100%;
        margin-bottom: 45px; }

    .brick-sidebar .sidebar-search {
        margin-top: 50px; }

    .blog-detail .leave-comment {
        margin-bottom: 50px; }

    .brick-pagination ul li {
        margin-bottom: 10px; }

    .blog-v1 .brick-pagination {
        margin-bottom: 40px !important; }

    .contact .box-get-in-touch {
        margin-bottom: 50px;
        margin-top: 50px;
        padding: 20px; }

    .portfolio-detail .portfolio-detail-content {
        margin-top: 35px; }

    .brick-sidebar .sidebar-services .brick-flex-box {
        display: inline-flex;
        margin: 0 15px 30px 15px; }

    .brick-sidebar .sidebar-services {
        text-align: center; }

    .who-we-are .box-img {
        margin-bottom: 30px; }

    .about-the-brick .box .box-content.top-center {
        margin-left: 0; }

    .about-the-brick .box .box-content {
        position: static;
        margin-top: 30px; }

    .about-the-brick .box .box-img {
        display: block;
        padding-top: 30px;
        flex: 1 1 0px;
        -ms-flex: 1 1 0px; }

    .about-the-brick .title p {
        padding: 0; }

    .about-the-brick.set-padding {
        padding-bottom: 50px; }

    .build-your-dreams .box-img img {
        margin: 0 auto; }

    .build-your-dreams .box-img {
        padding: 35px 0; }

    .info {
        margin-top: 0;
        padding: 30px 0; }
    .info .box {
        display: block; }
    .info .box .brick-flex-box {
        width: 100%;
        margin: 20px 0;
        float: none;
        display: block;
        text-align: center; }
    .info .box .brick-flex-box .box-icon span {
        padding-right: 0; }

    .shap-border {
        display: none; }

    .awesome-video {
        padding: 75px 0; }

    .how-we-work .box-step .brick-flex-box .box-content h3, .step .box-step .brick-flex-box .box-content h3 {
        font-size: 22px; }

    .how-we-work .box-step .brick-flex-box .box-number h3, .step .box-step .brick-flex-box .box-number h3 {
        min-width: 70px;
        font-size: 45px;
        line-height: 40px;
        padding-right: 10px; }

    .how-we-work .box-step .brick-flex-box, .step .box-step .brick-flex-box {
        margin: 15px 0; }

    .how-we-work .box-step {
        margin-bottom: 50px;
        padding: 40px 15px; }

    .header-v5 .top-bar {
        display: none; }

    .header-v3 {
        position: static; }
    .header-v3 .header {
        background: #ffffff; }

    .see-our-work .box {
        padding-left: 0;
        margin-top: 30px; }

    .slider-home-three .banner-caption-form .box form input, .slider-home-three .banner-caption-form .box form textarea {
        font-size: 13px !important;
        line-height: 20px !important;
        margin-bottom: 15px !important;
        padding: 5px 15px !important; }

    .slider-home-three .banner-caption-form .box .box-title h3 {
        padding-bottom: 20px !important;
        font-size: 16px !important;
        line-height: 20px !important; }

    .slider-home-three .banner-caption-form .box form .brick-button h3 {
        font-size: 11px !important;
        line-height: 30px !important;
        padding: 0 10px !important; }

    .slider-home-three .banner-caption-form .box form input {
        height: 30px; }

    .slider-home-three .banner-caption-form .box form textarea {
        height: 50px; }

    .slider-home-three .banner-caption-form .box .box-text {
        display: none; }

    .we-make-beauty .box .brick-button {
        float: none;
        margin-top: 20px; }

    .we-make-beauty .box .box-text {
        float: none; }

    .we-make-beauty .box {
        text-align: center; }

    .the-brick .count-to-number .box, .countto-number .count-to-number .box {
        margin-bottom: 10px; }

    .we-are-brick .brick-videos {
        margin-top: 30px; }

    .footer-v1 .footer, .footer-v3 .footer {
        padding: 50px 0 30px 0; }
    .footer-v1 .footer .box, .footer-v3 .footer .box {
        margin-bottom: 20px; }

    .latest-news .box {
        margin-bottom: 30px; }

    .clients-say ul li .box {
        background: #f8f8f8;
        text-align: center;
        padding: 50px 15px; }
    .clients-say ul li .box .box-img {
        position: static;
        display: inline-block;
        margin-bottom: 15px; }
    .clients-say ul li .box .box-content {
        padding: 0; }

    .our-works .our-works-slick .our-works-slick-menu ul li {
        margin-bottom: 5px;
        padding: 0 10px; }

    .our-works .our-works-slick-img ul li .box .brick-flex-box {
        align-items: center; }
    .our-works .our-works-slick-img ul li .box .brick-flex-box .box-text-overlay {
        padding-bottom: 0; }
    .our-works .our-works-slick-img ul li .box .brick-flex-box .box-text-overlay .box-text-overlay-h3 h3 {
        font-size: 22px; }
    .our-works .our-works-slick-img ul li .box .brick-flex-box .box-text-overlay .box-text-overlay-p p {
        padding: 0; }

    .build-the-dreams .brick-flex-box .box-padding .box {
        padding: 30px 15px; }

    .brick-title .brick-title-h3 h3 {
        font-size: 36px; }

    .our-services .box {
        margin-bottom: 30px; } }
@media (max-width: 479px) {
    .maintenance .box h5 {
        letter-spacing: 2px; }

    .maintenance .box h3 {
        font-size: 33px;
        line-height: 35px; }

    .product-detail .box-review .uk-switcher .poduct-reviews li .review h6 span {
        display: block; }
    .product-detail .box-review .uk-switcher .poduct-reviews li .review h6 span.fa {
        display: inline-block; }
    .product-detail .box-review .uk-switcher .poduct-reviews li .review h6 i {
        display: none; }

    .product-detail .box-review .uk-subnav li a {
        padding: 0 10px;
        font-size: 12px; }

    .product-detail .box-detail .box-product-detail li .box-thumbanil img {
        width: 80%; }

    .product-detail .box-detail .box-product-detail li .box-img, .product-detail .box-detail .box-product-detail li .box-thumbanil {
        margin: 0 5px; }

    .product-detail .box-detail .box-product-detail .slick-big-images li .box-img {
        height: 200px; }

    .blog-detail .comments ul.uk-comment-list li .comment .comment-content .meta .meta-reply {
        float: none; }

    .blog-detail .comments ul.uk-comment-list li .comment .comment-content .meta .meta-author {
        float: none; }

    .blog-detail .box .tags-share ul li a span {
        padding-right: 5px; }

    .blog-detail .comments ul.uk-comment-list .uk-comment + ul {
        padding-left: 80px; }

    .blog-detail .comments ul.uk-comment-list li .comment .comment-content p {
        margin-top: 8px; }

    .blog-detail .comments ul.uk-comment-list li .comment .comment-content {
        margin-left: 80px; }

    .blog-detail .comments ul.uk-comment-list li .comment .comment-img {
        width: 60px;
        height: 60px; }

    .blog-detail .box .tags-share .tags, .blog-detail .box .tags-share .share {
        float: none; }

    .blog-v1 .box .box-content {
        padding: 23px 15px 32px 15px; }

    .our-skills .box-img {
        margin-top: 30px; }

    .build-your-dreams .brick-flex-box .box-padding .box .box-text .box-text-content-p p {
        font-size: 13px; }

    .build-your-dreams .brick-flex-box .box-padding .box .box-text .box-text-title-h3 h3 {
        font-size: 17px;
        padding-bottom: 5px; }

    .build-your-dreams .brick-flex-box .box-padding .box .box-icon span {
        width: 60px;
        height: 60px;
        font-size: 25px; }

    .build-your-dreams .brick-flex-box .box-padding .box .box-icon {
        padding-right: 20px; }

    .build-your-dreams .brick-flex-box .box-padding .box {
        padding: 20px 0; }

    .slider-home-three .banner-caption-form .box .box-title h3 {
        font-size: 16px !important;
        line-height: 20px !important; }

    .slider-home-three .banner-caption-form .box form .brick-button h3 {
        font-size: 11px !important; }

    .slider-home-three .banner-caption-form .box form input, .slider-home-three .banner-caption-form .box form textarea {
        font-size: 13px !important;
        line-height: 20px !important; }

    .slider-home-three .banner-caption-form {
        width: 200px; }

    .footer-v2 .footer .box .box-content .box-content-p p {
        padding: 0 15px 25px 15px; }

    .the-brick .the-brick-content .brick-flex-box .box-content h1 {
        font-size: 30px;
        line-height: 30px; }
    .the-brick .the-brick-content .brick-flex-box .box-content h3, .the-brick .the-brick-content .brick-flex-box .box-content h5 {
        font-size: 15px;
        line-height: 20px; }

    .get-free-quote .get-quote-form form .uk-form-icon {
        width: 100%; }

    .get-free-quote .title-h3 h3 {
        margin-bottom: 30px;
        font-size: 30px; }

    .build-the-dreams .brick-flex-box .box-padding .box .box-icon {
        min-width: 65px;
        padding-right: 20px; } }
@media (max-width: 320px) {
    .toggle-icon a {
        padding-right: 0 !important; }

    .header-v1 .header .search a, .header-v2 .header .search a, .header-v3 .header .search a, .header-v5 .header .search a {
        padding-right: 10px;
        padding-left: 10px; }
    .header-v1 .header .search a.cart-icon, .header-v2 .header .search a.cart-icon, .header-v3 .header .search a.cart-icon, .header-v5 .header .search a.cart-icon {
        padding-right: 10px;
        padding-left: 10px; }
    .header-v1 .header .search a.search-icon, .header-v2 .header .search a.search-icon, .header-v3 .header .search a.search-icon, .header-v5 .header .search a.search-icon {
        padding-right: 10px;
        padding-left: 10px; }

    .mobile-logo a img, .header-v2 .header .logo a img, .header-v3 .header .logo a img, .header-v5 .header .logo a img {
        width: 85%; } }
@media (min-width: 992px) {
    .mobile-menu, .mobile-logo {
        display: none !important; } }
@media (min-width: 1220px) and (max-width: 1400px) {
    .build-the-dreams .brick-flex-box .box-padding .box .box-text .box-text-title-h3 h3 {
        padding-bottom: 10px; }

    .build-the-dreams .brick-flex-box .box-padding .box {
        padding: 20px 15px 20px 45px; } }
@media (min-width: 1220px) and (max-width: 1350px) {
    .how-we-work .box-step:before, .how-we-work .box-step:after {
        display: none; }

    .how-we-work .box-step {
        padding: 58px 15px; } }
@media (min-width: 992px) and (max-width: 1219px) {
    .build-the-dreams .brick-flex-box .box-padding .box .box-text .box-text-content-p p {
        font-size: 13px; }

    .build-the-dreams .brick-flex-box .box-padding .box .box-text .box-text-title-h3 h3 {
        font-size: 20px;
        padding-bottom: 5px; }

    .build-the-dreams .brick-flex-box .box-padding .box {
        padding: 10px 15px; }

    .our-services .box .box-title-h3 a h3 {
        font-size: 16px; }

    .header-v1 .top-bar .set-width-3-10 {
        width: 30%; }
    .header-v1 .top-bar .set-width-7-10 {
        width: 70%; } }
@media (min-width: 768px) and (max-width: 991px) {
    .faq .faq-content .holder-our-faq .title a {
        font-size: 17px; }

    .product-detail .box-detail .box-detail-content {
        width: 45%;
        padding-left: 25px; }

    .product-detail .box-detail .box-product-detail {
        width: 55%; }

    .brick-sidebar .sidebar-latest-product > ul {
        padding: 30px 15px 5px 15px; }

    .brick-sidebar .sidebar-latest-product h3 {
        padding: 0 15px;
        font-size: 19px; }

    .brick-sidebar .sidebar-filter {
        padding: 15px; }

    .brick-sidebar .sidebar-search form input {
        padding-left: 15px !important; }

    .brick-sidebar .sidebar-latest-product > ul > li .brick-flex-box .box-img {
        margin-right: 0;
        margin-bottom: 5px; }

    .brick-sidebar .sidebar-latest-product > ul > li .brick-flex-box {
        display: block; }

    .blog-v1 .box .box-content {
        padding: 23px 15px 32px 15px; }

    .portfolio-detail .portfolio-detail-content .box-detail-content {
        padding: 20px 15px; }

    .brick-sidebar .sidebar-recent-project ul {
        padding: 15px; }

    .brick-sidebar .sidebar-recent-project h3 {
        padding: 0 15px;
        font-size: 19px; }

    .brick-sidebar .sidebar-about-brick {
        padding: 15px; }

    .about-the-brick .box .box-content.top-right {
        right: -27%; }

    .about-the-brick .box .box-content.top-left {
        left: -27%; }

    .about-the-brick .box .box-img img {
        width: 70%; }

    .about-the-brick .title p {
        padding: 0 50px; }

    .about-the-brick.set-padding {
        padding-bottom: 100px; }

    .build-your-dreams .brick-flex-box .box-padding .box .box-text .box-text-content-p p {
        font-size: 13px; }

    .build-your-dreams .brick-flex-box .box-padding .box .box-text .box-text-title-h3 h3 {
        font-size: 17px;
        padding-bottom: 5px; }

    .build-your-dreams .brick-flex-box .box-padding .box .box-icon span {
        width: 60px;
        height: 60px;
        font-size: 25px; }

    .build-your-dreams .brick-flex-box .box-padding .box .box-icon {
        padding-right: 20px; }

    .build-your-dreams .brick-flex-box .box-padding .box {
        padding: 10px 0; }

    .info .box .brick-flex-box {
        margin: 0 25px; }

    .info {
        margin-top: -186px;
        padding-top: 30px; }

    .how-we-work .box-step .brick-flex-box .box-number h3, .step .box-step .brick-flex-box .box-number h3 {
        padding-right: 0;
        padding-bottom: 15px; }

    .how-we-work .box-step .brick-flex-box, .step .box-step .brick-flex-box {
        display: block;
        text-align: center; }

    .meet-our-team .box .box-team-member h3 {
        font-size: 16px; }

    .portfolio .box .brick-flex-box .box-text-overlay h3 {
        font-size: 15px; }

    .portfolio .box .brick-flex-box .box-text-overlay {
        padding-left: 15px; }

    .our-services .box {
        padding: 25px 15px; }
    .our-services .box .box-title-h3 a h3 {
        font-size: 13px; } }
@media (min-width: 480px) and (max-width: 767px) {
    .our-services-v4 ul li .box .box-content .box-content-title h3 {
        font-size: 23px; }

    .slider-home-three .banner-caption-form {
        width: 300px; }

    .our-services .box .box-title-h3 a h3 {
        font-size: 16px; } }

/*# sourceMappingURL=responsive.css.map */
